{
  "semi": true,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@ui/(.*)|^@components/(.*)$|^@utils/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
